.subscribe-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.subscribe-title {
  margin-top: 1.5rem;
  color: #323637;
  font-size: 1.5rem;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

.subscribe-text {
  margin-top: 1rem;
  color: #919697;
  text-align: center;
}

.subscribe-form {
  margin-top: 1.5rem;
  width: 40rem;
  height: 3rem;
  display: flex;
}

.subscribe-input {
  width: 80%;
  height: 100%;
  padding-left: 1rem;
  border: 1px solid #919697;
  font-size: 1rem;
  color: #919697;
}

.subscribe-button {
  width: 20%;
  height: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
    .subscribe-form {
        margin-top: 1.5rem;
        width: 35rem;
        height: 3rem;
      }
}
@media (max-width: 768px) {
    .subscribe-form {
        margin-top: 1.5rem;
        width: 25rem;
        height: 3rem;
      }
}

@media (max-width: 640px) {
    .subscribe-form {
        margin-top: 1.5rem;
        width:20rem;
        height: 3rem;
      }
      .subscribe-button {
        font-size: 1rem;
        width: 30%;
      }
      .subscribe-input {
        width: 70%;
      }
  .subscribe-title {
    font-size: 1.5rem;
  }

  .subscribe-text {
    font-size: 1rem;
  }
}
